<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <section class="todoapp">
    <!-- header is now replaced with app-todo-list-header -->
    <app-todo-list-header (add)="onAddTodo($event)"></app-todo-list-header>
    <!-- section is now replaced with app-todo-list -->
    <app-todo-list [todos]="todos" (toggleComplete)="onToggleTodoComplete($event)" (remove)="onRemoveTodo($event)"></app-todo-list>
    <app-todo-list-footer [todos]="todos"></app-todo-list-footer>
  </section>
</div>